* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: green;
}

#nombre {
    padding: 15%;
}

.opciones {
    display: flex;
}

.referencias {
    margin: 30px;
}

.referencias a {
    text-decoration: none;
    color: white;
}

#btn_login {
    margin: 10px;
    border-radius: 4px;
    width: 80px;
}

#btn_login:hover {
    background-color: gray;
}

.peliculas {
    margin: 10%;
}

.peliculas h2 {
    text-align: center;
}

#caja {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
}

#pelicula1 p{
    text-align: center;
    margin-bottom: 0px;
}

#peliculas1 {
    padding-left: 0px;
}

#login {
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 50px;
    width: 25%;
    height: 300px;
    border-radius: 40px;
    box-shadow: 0px 10px 20px rgb(207, 194, 194);
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.datos {
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #8880
}

.datos:focus {
    outline: none;
}

#login h1 {
    text-align: center;
}

#login a {
    display: block;
    text-align: center;
}

#entrar {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#entrar:hover {
    background-color: gray;
}