* {
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: green;
}

#nombre {
    padding: 15%;
}

.opciones {
    display: flex;
}

.referencias a:hover {
    scale: 1.1;
}

.opciones a {
    padding: 10px;
}

.referencias {
    margin: 20px;
    font-size: 20px;
}

.referencias a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

#btn_login {
    margin: 10px;
    border-radius: 20px;
    width: 80px;
    margin-left: 30px;
}

#btn_login:hover {
    background-color: gray;
}

.peliculas {
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

.peliculas h2 {
    text-align: center;
    font-size: 40px;
}

#caja {
    position: relative;
    background-size: 100% 100%;
    border-radius: 10px;
    height: 600px;
    box-shadow: 0px 10px 20px black;
}

#caja img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#caja p {
    color: white;
    position: absolute;
    top: 92%;
    left: 5%;
    font-size: 30px;
    text-shadow: 0px 10px 20px black;
}

#caja h3 {
    color: white;
    position: absolute;
    top: 86%;
    left: 5%;
    font-size: 30px;
    text-shadow: 0px 10px 20px black;
}

#btn_pelicula {
    text-align: center;
}

#btn_pelicula button {
    background-color: #34db4f;
    margin-top: 15px;
    border-radius: 20px;
    width: 80px;
    border: none;
    box-shadow: 0px 5px 10px #29b94d;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

#btn_pelicula button:hover {
    scale: 1.1;
    background-color: #42ff69;
}



#login {
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 50px;
    width: 25%;
    height: 300px;
    border-radius: 40px;
    box-shadow: 0px 10px 20px rgb(207, 194, 194);
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.datos {
    border: none;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #8880
}

.datos:focus {
    outline: none;
}

#login h1 {
    text-align: center;
}

#login a {
    display: block;
    text-align: center;
}

#entrar {
    margin-top: 20px;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

#entrar:hover {
    background-color: gray;
}